.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-item2 {
  box-sizing: content-box;
  display: flex;
  flex: none;
}

/* Logo */

.size-13 {
  width: 4rem /* 64px */;
  height: 4rem /* 64px */;
}
/* Logo */

/*Carousel*/

/*Alto img*/

.h-97 {
  height: 40rem /* 448 px*/;
}

.h-97mb {
  height: 20rem /* 320 px*/;
}

/*Alto img*/

.swiper-wrapper {
  width: 100%;

  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #4f46e5 !important;
}
.gap-x-13 {
  column-gap: 5rem /* 64px */;
}

.pt-17 {
  margin-top: 6rem; /*96px */
}

/*Carousel*/
